.App {
  text-align: center;
  background-image: url(https://cdn.prod.website-files.com/65f6a46e784664e0fd8db2c7/65faeef187fb8f462281e79d_hero-bg.png);
  height: 100vh;
}

.title {
  color: white;
  padding: 20px;
  margin: 0;
}
